@use "./abstracts" as *;

.dialog {
	border: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	padding: 24px;
	box-shadow: 0 4px 20px 0 $color-black-15;
	background-color: $color-white;

	&::backdrop {
		box-shadow: 0 4px 20px 0 $color-black-15;
		background-color: $color-black-32;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 27px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 32px;
	}

	&--add {
		width: 616px;
		height: 470px;

		&__form {
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		&__heading {
			@include typography-header-s;
		}

		&__input {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
		}

		&__fieldset {
			display: flex;
			flex-direction: column;
			border: none;
			gap: 4px;
			margin-bottom: 24px;
			flex-grow: 1;
		}

		&__label {
			@include typography-button;

			& span {
				font-weight: normal;
				color: $color-gray-900-60;
			}
		}

		&__description {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: start;
		}

		&__description-text {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__description-count {
			@include typography-caption;
			color: $color-gray-900-60;
		}
	}

	&--delete {
		width: 400px;
		padding-top: 27px;

		&__message {
			@include typography-body;
			margin-bottom: 24px;
		}
	}
}
