@use "./abstracts" as *;

.note {
	height: 250px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 20px 0 $color-black-15;
	background-color: $color-white;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 18px;
	}

	&__category {
		@include typography-caption;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		border-radius: 28px;

		&--personal {
			color: $color-orange-900;
			background-color: $color-orange-200;
		}

		&--home {
			color: $color-green-900;
			background-color: $color-green-200;
		}

		&--business {
			color: $color-deep-purple-900;
			background-color: $color-deep-purple-200;
		}
	}

	&__buttons-list {
		list-style: none;
		display: flex;
		align-items: center;
	}

	&__title {
		@include typography-header-s;
		margin-bottom: 10px;
	}

	&__description {
		@include typography-body;
		flex-grow: 1;
	}

	&__date {
		@include typography-caption;
		align-self: flex-end;
	}

	&--completed {
		color: $color-gray-900-36;
		background-color: $color-white-24;

		& .note__category {
			&--personal,
			&--home,
			&--business {
				color: inherit;
				background-color: $color-gray-900-36;
			}
		}

		& .note__title,
		& .note__description {
			text-decoration: line-through;
		}

		& .button img {
			filter: invert(46%) sepia(0%) saturate(0%) hue-rotate(218deg)
				brightness(99%) contrast(86%);
		}
	}
}
